GUI/Biking/Connected Services/ServiceReference3/Monitoring.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Monitoring" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Monitoring" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositePeriodMonitor">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumberClientRequests" type="xs:int" />
      <xs:element minOccurs="0" name="NumberClients" type="xs:int" />
      <xs:element minOccurs="0" name="NumberRequestsGoogle" type="xs:int" />
      <xs:element minOccurs="0" name="NumberRequestsVelib" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositePeriodMonitor" nillable="true" type="tns:CompositePeriodMonitor" />
</xs:schema>