MapService/MapService/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
  <xs:element name="GetContracts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetContractsResult" nillable="true" type="q1:ArrayOfComposite_Cities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityStations" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetCityStationsResult" nillable="true" type="q2:ArrayOfComposite_Stations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>