MonitorForm/MonitorForm/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Monitoring" />
  <xs:element name="GetCompositePeriodMonitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="period" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompositePeriodMonitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Monitoring" minOccurs="0" name="GetCompositePeriodMonitorResult" nillable="true" type="q1:CompositePeriodMonitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="period" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberClientsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberClientRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="period" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberClientRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberClientRequestsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberRequestsVelib">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="period" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberRequestsVelibResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberRequestsVelibResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberRequestsGoogle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="period" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberRequestsGoogleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberRequestsGoogleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentAverageDelay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentAverageDelayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentAverageDelayResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNumberClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="period" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNumberClientsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNumberClientRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="period" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNumberClientRequestsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNumberRequestsVelib">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="period" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNumberRequestsVelibResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNumberRequestsGoogle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="period" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNumberRequestsGoogleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrentAverageDelay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delay" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrentAverageDelayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>