GUI/Biking/Connected Services/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MapService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocation" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindNearestStationPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:FindNearestStationPosition" />
  </wsdl:message>
  <wsdl:message name="IService1_FindNearestStationPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindNearestStationPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindNearestDestinationStationPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:FindNearestDestinationStationPosition" />
  </wsdl:message>
  <wsdl:message name="IService1_FindNearestDestinationStationPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindNearestDestinationStationPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FindRoute_InputMessage">
    <wsdl:part name="parameters" element="tns:FindRoute" />
  </wsdl:message>
  <wsdl:message name="IService1_FindRoute_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindRouteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLocation" message="tns:IService1_GetLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLocationResponse" message="tns:IService1_GetLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindNearestStationPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindNearestStationPosition" message="tns:IService1_FindNearestStationPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindNearestStationPositionResponse" message="tns:IService1_FindNearestStationPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindNearestDestinationStationPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindNearestDestinationStationPosition" message="tns:IService1_FindNearestDestinationStationPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindNearestDestinationStationPositionResponse" message="tns:IService1_FindNearestDestinationStationPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindRoute">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindRoute" message="tns:IService1_FindRoute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindRouteResponse" message="tns:IService1_FindRoute_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocation">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindNearestStationPosition">
      <soap:operation soapAction="http://tempuri.org/IService1/FindNearestStationPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindNearestDestinationStationPosition">
      <soap:operation soapAction="http://tempuri.org/IService1/FindNearestDestinationStationPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRoute">
      <soap:operation soapAction="http://tempuri.org/IService1/FindRoute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MapService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>